{% extends "layouts/base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3>Log in</h3>
            {{ form_start(form) }}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_widget(form.submit, { 'label': 'Log in', 'attr' : {'class' : 'btn-primary'} }) }}
            {{ form_end(form) }}
            <br>
            <p>Or you can log in using these services</p>
            <div class="row">
                {% set networks = ['facebook', 'google'] %}
                {% for network in networks %}
                    <div class="col-md-6">
                        <a class="btn btn-block btn-social-{{ network }}" href="{{ path('connect_' ~ network) }}">{{ network }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
