<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">RigPick</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rigs</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('join') }}">Join</a>
                </li>
                {%  endif %}
            </ul>

        </div>
    </div>
</nav>